* {
  box-sizing: border-box;
  color: rgb(226, 204, 204);
  font-weight: 500;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: rgba(15, 15, 15, 0.867);
}

.banner_container > .banner {
  height: 30rem;
  width: 100%;
  object-fit: none;
  object-position: 50% 20%;
  overflow: hidden;
  position: relative;
}

.banner {
  width: 100%;
  position: absolute;
}

/* //////////////////////////////////////////// */
.APLogo_container > .APLogo {
  height: 60px;
  width: 200px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

.APLogo {
  width: 300px;
  position: absolute;
}

.naviBar {
  background: rgba(0, 0, 0, 0.541);
  margin-bottom: 5px;
  font-family: helvetica;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 600;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  top: 0;
  position: fixed;
}

nav ul {
  width: 100%;
}
nav ul li {
  margin-top: 10px;
  display: inline-block;
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.navBar_Reduced {
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5rem;
  box-sizing: border-box;
  top: 0;
  position: fixed;
  transform: scale(0, 6);
  transition: 0.7s ease-in-out all;
}

.profile_pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  border: 1rem solid rgb(68, 68, 68);
  background-color: #feded2;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.425);
  position: absolute;
  top: 23rem;
}

/* //////////////////////////////////////////// */
.seccion, .sobreMi_item_B {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.425);
  background-color: rgb(68, 68, 68);
  border-radius: 15px;
  text-align: center;
  width: 100%;
  margin-bottom: 1.75rem;
}

.sobreMi_contenedor {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.sobreMi_contenedor .sobreMi_item_A, .sobreMi_contenedor .sobreMi_item_B, .sobreMi_contenedor .experiencia_item {
  flex-direction: column;
  width: auto;
}
.sobreMi_contenedor .sobreMi_item_A {
  padding: 5.5rem 0.4rem 0 1.5rem;
}
.sobreMi_contenedor .sobreMi_item_A h1 {
  font-size: 1.5rem;
}
.sobreMi_contenedor .sobreMi_item_B {
  background-color: #234c72;
}
.sobreMi_contenedor .sobreMi_item_B .sobreMi_item_B h4 {
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: #646464;
  border-radius: 0px;
}
.item:hover {
  background-color: #818181;
  color: rgb(253, 236, 236);
  box-shadow: 0 0 10px #303030;
  cursor: pointer;
}

/* //////////////////////////////////////////// */
.grid-item {
  background-color: black;
}

/* ////////////////////////////////////////////

  .content_proyects {
  } */

/*# sourceMappingURL=portfolioWeb.css.map */
